In [24]:
import pandas as pd

# CSVファイルを読み込む
df = pd.read_csv('score.csv')

# 持ち点の計算
def calc_score(score):
    if score >= 30000:
        return score - 30000
    else:
        return 30000 - score

# 順位点の計算
def calc_rank(rank):
    if rank == 1:
        return 50
    elif rank == 2:
        return 10
    elif rank == 3:
        return -10
    else:
        return -30

# 持ち点・順位点の計算
def calc_points(score, rank):
    score_points = calc_score(score) / 1000
    rank_points = calc_rank(rank)
    return score_points + rank_points

# 名前を指定して、持ち点・順位点を表示する
def get_points(name):
    target = df[df["1st_name"] == name]
    if target.empty:
        print('名前が見つかりませんでした。')
        return
    scores = [target.iloc[0, 1], target.iloc[0, 3], target.iloc[0, 5], target.iloc[0, 7]]
    ranks = [i+1 for i in range(len(scores))]
    rank_counts = {1: 0, 2: 0, 3: 0, 4: 0}
    for rank in ranks:
        rank_counts[rank] += 1
    for rank, count in rank_counts.items():
        if count > 1:
            total_points = 0
            for i in range(len(scores)):
                if ranks[i] == rank:
                    total_points += calc_points(scores[i], rank)
            avg_points = total_points / count
            for i in range(len(scores)):
                if ranks[i] == rank:
                    print(f'{target.iloc[0, i*2]}: {avg_points:.1f}p')
        else:
            print(f'{target.iloc[0, (rank-1)*2]}: {calc_points(scores[rank-1], rank):.1f}p')

In [25]:
get_points('hogefuga')

名前が見つかりませんでした。

In [21]:
df["1st_score"]

0    35000
1    35000
2    35000
Name: 1st_score, dtype: int64

In [16]:
df["1st_name"]

0    hogehoge
1    hogehoge
2    fugahoge
Name: 1st_name, dtype: object

In [22]:
df

,1st_name,1st_score,2nd_name,2nd_score,3rd_name,3rd_score,4th_name,4th_score,Unnamed: 8
0,hogehoge,35000,hogefuga,30000,fugafuga,20000,fugahoge,15000,NaN
1,hogehoge,35000,hogefuga,30000,fugafuga,20000,fugahoge,15000,NaN
2,fugahoge,35000,hogefuga,30000,fugafuga,30000,hogehoge,15000,NaN

In [28]:
df["1st_name"] == "hogehoge"

0     True
1     True
2    False
Name: 1st_name, dtype: bool

In [29]:
df.loc[0]

1st_name      hogehoge
1st_score        35000
2nd_name      hogefuga
2nd_score        30000
3rd_name      fugafuga
3rd_score        20000
4th_name      fugahoge
4th_score        15000
Unnamed: 8         NaN
Name: 0, dtype: object

In [30]:
import pandas as pd
import math

# CSVファイルを読み込む
df = pd.read_csv("score.csv")

# 各プレイヤーの持ち点を計算する
def calc_points(score):
    if score >= 30000:
        return score - 30000
    else:
        return score - 30000 - (30000 - score)

# 各プレイヤーの順位点を計算する
def calc_rank_points(rank, tied):
    if tied:
        return sum([calc_rank_points(r+1, False) for r in range(rank-1, rank+tied-1)]) / (1.0 * tied)
    else:
        if rank == 1:
            return 50000
        elif rank == 2:
            return 10000
        elif rank == 3:
            return -10000
        else:
            return -30000

# 各プレイヤーのレートを計算する
def calc_rate(score, rank_points):
    return math.floor((calc_points(score) + rank_points) / 1000)

# プレイヤーごとに処理する
for i in range(len(df)):
    scores = [df.iloc[i, j] for j in range(1, 8, 2)]
    names = [df.iloc[i, j] for j in range(0, 8, 2)]
    player_info = []
    for score, name in zip(scores, names):
        points = calc_points(score)
        rank = sorted(scores, reverse=True).index(score) + 1
        tied = scores.count(score)
        rank_points = calc_rank_points(rank, tied)
        rate = calc_rate(score, rank_points)
        player_info.append((name, rate))
    print(player_info)

[('hogehoge', 55), ('hogefuga', 10), ('fugafuga', -30), ('fugahoge', -60)]
[('hogehoge', 55), ('hogefuga', 10), ('fugafuga', -30), ('fugahoge', -60)]
[('fugahoge', 55), ('hogefuga', 0), ('fugafuga', 0), ('hogehoge', -60)]